*{
	margin: 0;
	padding: 0;
}
body{
	background: black;
}
.content{
	width: 480px;
	height: 720px;
	margin: 5px auto;
}
.start{
	width: 100%;
	height: 100%;
	position: relative;
}
.start img{
	width: 100%;
	height: 100%;
	display: block;
}
.start h3{
	width: 100%;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 0px;
	margin-top: -15px;
	text-align: center;
	color: orange;
}
.loaddingbox{
	width: 80%;
	height: 10px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	margin-top: 30px;
	margin-left: 10%;
	border: solid 1px #333;
	background: #ccc;
}
.loadding{
	width: 0%;
	height: 10px;
	background: orange;
	border-radius: 10px;
}
.choose{
	width: 100%;
	height: 100%;
	position: relative;
	display: none;
}
.choose-bg{
	display: block;
	width: 100%;
	height: 100%;
}
.option-list{
	width: 166px;
	list-style: none;
	position: absolute;
	top: 160px;
	right: 20px;
}
.option-list li{
	height: 50px;
	background: url(../img/ui_bar_main.png) no-repeat -0px -0px;
	cursor: pointer;
	margin-top: 15px;
}
.option-list li:nth-child(2){
	background: url(../img/ui_bar_main.png) no-repeat -167px -0px;
}
.option-list li:nth-child(3){
	background: url(../img/ui_bar_main.png) no-repeat -335px -0px;
}
.option-list li:nth-child(4){
	background: url(../img/ui_bar_main.png) no-repeat -502px -0px;
}
.option-list li:nth-child(5){
	background: url(../img/ui_bar_main.png) no-repeat -669px -0px;
}
.option-list li:nth-child(1):hover{
	background: url(../img/ui_bar_main.png) no-repeat -0px -50px;
}
.option-list li:nth-child(2):hover{
	background: url(../img/ui_bar_main.png) no-repeat -167px -50px;
}
.option-list li:nth-child(3):hover{
	background: url(../img/ui_bar_main.png) no-repeat -335px -50px;
}
.option-list li:nth-child(4):hover{
	background: url(../img/ui_bar_main.png) no-repeat -502px -50px;
}
.option-list li:nth-child(5):hover{
	background: url(../img/ui_bar_main.png) no-repeat -669px -50px;
}
